.search {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 9px 8px -12px rgba(0, 0, 0, 0.75);
}

.btn-search {
    background-color: #0B9568;
    border: #0B9568;
    color: white;
    padding: 5px 20px;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
}

.form {
}
